<% if logged_in? %>
<script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
</script>
<% end %>
<main id="root">React is busted!</main>

<script type="text/javascript">
   window.logo = "<%= image_url('logo_200x200.png') %>"
</script>
<script type="text/javascript">
   window.x = "<%= image_url('x.png') %>"
</script>

<script type="text/javascript">
   window.linkedIn = "<%= image_url('linkedin-circled-50.png') %>"
</script>
<script type="text/javascript">
   window.github = "<%= image_url('github-50.png') %>"
</script>
<script type="text/javascript">
   window.angelList = "<%= image_url('angellist-50.png') %>"
</script>

<script type="text/javascript">
   window.spools = "<%= image_url('annie-spratt-spools.jpg') %>"
</script>
<script type="text/javascript">
   window.brown_sweater = "<%= image_url('brown_sweater_knit.jpg') %>"
</script>
<script type="text/javascript">
   window.embroidery_thread = "<%= image_url('embroidery_thread.jpg') %>"
</script>
<script type="text/javascript">
   window.craft_table1 = "<%= image_url('estee-janssens-craft-table-unsplash.jpg') %>"
</script>
<script type="text/javascript">
   window.pin_cushion = "<%= image_url('pin_cusion.jpg') %>"
</script>
<script type="text/javascript">
   window.textiles = "<%= image_url('toa-heftiba-textiles-unsplash.jpg') %>"
</script>
<script type="text/javascript">
   window.serger_spool = "<%= image_url('serger_spool.jpg') %>"
</script>
<script type="text/javascript">
   window.craft_table2 = "<%= image_url('estee-janssens-craft-table-unsplash-mini1.jpg') %>"
</script>
<script type="text/javascript">
   window.notification = "<%= image_url('notification.png') %>"
</script>
<script type="text/javascript">
   window.down_icon = "<%= image_url('down_icon.png') %>"
</script>
<script type="text/javascript">
   window.search_icon = "<%= image_url('search-icon.jpg') %>"
</script>
<script type="text/javascript">
   window.pin1 = "<%= image_url('alexandra-lammerink-unsplash.jpg') %>"
</script>

<script type="text/javascript">
   window.pin2 = "<%= image_url('charlota-blunarova-unsplash.jpg') %>"
</script>
<script type="text/javascript">
   window.pin3 = "<%= image_url('francisco-arnela-unsplash.jpg') %>"
</script>
<script type="text/javascript">
   window.pin4 = "<%= image_url('mel-poole-unsplash.jpg') %>"
</script>
<script type="text/javascript">
   window.pin5 = "<%= image_url('salvador-godoy-unsplash.jpg') %>"
</script>
<script type="text/javascript">
   window.pin6 = "<%= image_url('vishal-banik-unsplash.jpg') %>"
</script>


