<!DOCTYPE html>
<html>
  <head>
    <title>Pin and Needle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_path('logo_200x200.png') %>
    <%= javascript_include_tag 'application' %>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <meta property='og:title' content='Pin and Needle' />
      <meta property='og:image' content='https://raw.githubusercontent.com/arieltlr/PinandNeedle/main/app/assets/images/app_view.gif' />
      <meta property='og:description'
            content='Pin and Needle, a Pinterest clone, is an social media discovery platform.' />
      <meta property='og:url' content='https://pinandneedle.herokuapp.com/#/' />

  </head>

  <body>
  <img src="." alt="">
    <%= yield %>
  </body>
</html>
